div.container {

  width: 500px;
  height: 200px;
}

div.stack {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border-bottom: 5px solid black;
  position: relative;
}

div.disc {
  height: 33.3%;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.highlighted {
  background-color: yellow;
}